/* Main Content */
.main {
    display: grid;
    grid-template-areas: "menu code project";
    grid-template-columns: 20% 60% 20%;
    max-width: 1728px;
    padding: 0 3.2rem 3.2rem;
    margin: 0 auto;
    position: relative;
}

/* Grid Areas */

.sidebar {
    grid-area: menu;
}

.code {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    grid-area: code;
    justify-self: center;
    width: 90%;
}

.project {
    grid-area: project;
    justify-self: end;
}

/* Resposive */

@media screen and (max-width: 820px) {
    
    .main {
        grid-template-areas: "code" "project";
        grid-template-columns: 100%;
        gap: 4rem;
        padding-bottom: 4rem;
    }

    .code {
        width: 100%;
    }

    .project {
        justify-self: center;
    }

}